@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

body{
    background-color: rgb(65, 238, 232);
    flex-direction: column;
}
nav{
    display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: rgba(2, 65, 99, 0.934);
   font-family: "Big Shoulders Stencil", sans-serif;
    
   
    
}
nav img{
    width: 100px;
}
nav a{
    text-decoration: red;
    font-size: 25px;
    width: 200px; height: 60pv;
    color: rgb(154, 244, 244);

}
.card {
    margin: 20px;
    width: 300px;
    border-radius: 20px;
    overflow: hidden;
    font-family: "Dancing Script", cursive;
    box-shadow: 10px, 10px, 20px #000;
    background-color: aliceblue;
    text-align: center;
    font-family: "Teko", sans-serif
}
.card img{
    width: 100%;
    border-radius: 20px 20px 0 0 ;
    

}
.card-content h1{
    color: rgb(111, 213, 241);
    text-align: center;
}
body{
    background-color: rgb(154, 244, 244);
    flex-direction: column;
}

.targetas{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
    

.card:hover{
    transform: scale(1.1);
    background-color: aliceblue;
}
.welcome{
    padding: 20px;
    background-color:rgba(2, 65, 99, 0.934);
    text-align: center;
    color: rgb(154, 244, 244);
    font-family: "Big Shoulders Stencil", sans-serif;
   
    

}
.courses{
    text-align: center;

}
.card-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .info button a{
    color: rgba(2, 65, 99, 0.934);
    text-decoration: none;
   
  }
  .info button{
    border-radius: 20px;
    font-size: 20px;
    font-family: "Big Shoulders Stencil", sans-serif;

  }
  footer{
    text-align: center;
    padding: 30px;
    background-color: rgba(2, 65, 99, 0.934);
    color: rgb(154, 244, 244);
}